<h1>Episode</h1>

<h3><%= "Date: #{@episode.date}" %></h3>

<h3>Guests</h3>

<ul>
  <% @episode.appearances.each do |appearance| %>
    <li><strong><%= link_to appearance.guest.name, appearance.guest %></strong> - <em><%= link_to appearance.rating, edit_appearance_path( appearance ) %></em></li>
  <% end %>
</ul>

<%= link_to "Add Appearance", new_appearance_path %>
